span {
	display: inline-block;
	vertical-align:top;
}
.description {
	padding : 10px;
	background-color: lightgray;
	width : 328px;
	float: right;
	margin-right: 7%; 
	text-align:center;
	font-size: 95%;
}
img {
	width : 90%;
}
.content {
	width : 60%;
	margin-left: 4%;
}
table {
	width : 100%;
	text-align: left;
}
.topmenu{
	margin-left: 5%; 
	width : 90%;
	margin-bottom: 10px;
	margin-top: 10px;
	border-bottom: 3px solid black;
}
.username {
	float: right;
	margin-right: 6%; 
}

.el{
	margin: 5px;

}
.username a {
	margin: 5px;
}
.comment{
	width: 50%;
	margin-left: 5%;
	border-top: 2px solid black;
	margin-bottom: 10px;
}
.commentuser{
	width: 15%;
	margin-left: 10%; 
	margin-bottom: 15px;
	float : right;
}
.commenttext{
	width:65%;
	word-break: break-word;
	min-height: 200px;
}
select{
	width:200px;
}
.annotation{
	font-size: 7;
	color : gray;
}
.mainpage {
	margin-left: 5%;
	margin-right: 5%;
}
.mainpage span {
	margin: 10px;
}
.mainpage h4 {
	margin-top: 0px;
}
.ass a {
	margin:1px;
}
.ass img {
	width:15px;
}
.delete {
	width : 100px;
}
.avatar {
	width: 95%;
}
.user {
	width: 35%;
}
.notifications{
	width: 60%;
	margin-left: 3%;
	float: right;
}
.notification{
	background-clip: border-box;
	padding-bottom: 10px;
}